var config = {
    general: {
        queryLimit: 10, // how many rows to limit the MySQL query to
        timezone: '-05:00' // timezone of Infusionsoft customers/orders relative to UTC; example: -04:00
    },
    shopify: {
        shopName: 'your-store-name', // your subdomain only
        apiKey: 'your API key',
        password: 'your API password',
        autoLimit: {
            calls: 2, // number of calls per interval below
            interval: 1000 // specified in milliseconds
        }
    },
    mysql: {
        host: 'localhost',
        database: 'database name',
        user: 'user name',
        password: 'password'
    }
}

module.exports = config;
